<h1 class="center">Book flight</h1>



<%= form_for @booking do |f| %>
<%= f.hidden_field :flight_id %>
<% count = 1 %>
<%= f.fields_for :passengers do |ff| %>
<div class="form-inline center">
  <div class="form-group">
    <%= ff.label "#{count.ordinalize} passenger:" %>
    <%= ff.text_field :first_name, placeholder: "First name" %>
    <%= ff.text_field :last_name, placeholder: "Last name" %>
    <%= ff.text_field :email, placeholder: "Email" %>
  </div>
  <% count += 1 %>
  <% end %>
</div>
<%= f.submit "Book", class:"btn btn-primary" %>
<% end %>

