

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="success">You have successfully booked your flight!</h2>

    <fieldset>
      <legend>Details</legend>
      <h3>
        Flight No. <%= @flight.id %> from <%= @flight.departing_airport.name %>(<%= @flight.departing_airport.code %>) to <%= @flight.arrival_airport.name %>(<%= @flight.arrival_airport.code %>)
      </h3>
      <p>
        <strong>Flying on <%= @flight.date.strftime("%d %B %Y") %></strong>
      </p>
      <p>
        <strong>Passengers:</strong>
      </p>
      <% @passengers.each do |p| %>
      <p>
        <%= p.first_name %> <%= p.last_name %>
      </p>
      <% end %>
    </fieldset>
  </div>
</div>
